/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  display: flex;
  margin:0;
}
#root {
  width: 100%;
}
.tableActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}
.layout{
  grid-template-columns: 3fr 1fr;
  display: grid;
  margin:16px;
  gap:22px;
}
.layout > div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 12px;
  background-color: rgba(100, 100, 111, 0.2);
}
.header{
  background-color: rgba(100, 100, 111, 0.2);
  padding: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  display: flex;
}
.header > div{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
li {
  list-style: none;
}



.Hello {
  display: flex;
  justify-content: center;
  align-items: center;

}
